
<div fxLayoutAlign ="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="30">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
      </div>
    </mat-card-header>
    <mat-toolbar>
      <img width="80px" fxLayoutAlign="center center"
           src="./assets/photo/SA.jpeg" alt=""></mat-toolbar>
    <form [formGroup]="loginForm"  class="login-form" fxLayoutAlign="stretch" fxLayout="column"
    (ngSubmit)="onSubmit()" >

      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="username"
               class="form-control"
               name="email"
               id="inputEmail"
               required autofocus ngModel
               formControlName="username"
               [ngClass]="{'is-invalid': submitted && f.username.errors}">
        <div *ngIf="submitted && f.username.errors">
          <div class="errorClasse" *ngIf="f.username.errors.required">Username is required</div></div>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="password"
               type="password"
               class="form-control"
               id="inputPassord"
               name="password"
               formControlName="password"
               required ngModel
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors">
          <div class="errorClasse" *ngIf="f.password.errors.required">Password is required</div>
        </div>

      </mat-form-field>
      <span *ngIf="loading"></span>
      <button mat-raised-button color="primary" type="submit" [disabled]="loading">Connexion</button>
    </form>
  </mat-card>
</div>
